@charset "UTF-8";
@font-face {
    font-family: "gamefont";
    src: url('fonts/Game\ Played.otf') format('opentype');
}
*, body{
    margin:0px;
    padding:0px;
}
span#counteiner{
    position: relative;
    margin: au;
}
body{
    background-color: rgba(255, 255, 255, 0.801);
}

header{
    background-color: rgb(58, 58, 58);
    color:green;
    text-align: center;
    height: 50px;
    font-family: gamefont;
    font-weight: normal;
}
div.darkborder{
    background-color:rgba(255, 0, 0, 0.801);
    height: 400px;
    width: 100%;
    z-index:-4;
    position:absolute;

}
div#subheader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.534)), url('../estilo/imagens/super-mario-background.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    -webkit-background-size: cover;
    position:absolute;
    filter:blur(3px);
    -webkit-filter: blur(3px);
    z-index: -3;
}
div.banner > h1{

}
div.leon img{
    
    height: 400px;
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 50px;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.644));
}
div.nitendo{
    width: 600px;
    height:500px;
    background-color: gray;
    border-radius: 5px;
    margin:auto;
    position: absolute;
}
