@charset "UTF-8";
*{
    width:100%;
}
div.coldwar{
    display:relative;
}
div.coldwar >  article {
}
div.coldwar > article > img{
    width: 50%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
div{
    width:100%;
}